@page
@model RecruitCat.Pages.AboutUsModel
@{
    ViewData["Title"] = "OurTeam";
}

<div style="background-color:#d3e0d8 ; width: 100%; margin: 0px; padding: 0px;">
    <div class="card mb-3" style="background-color:#d3e0d8; padding:20px">
        <img style="width: 180px; height:200px; display: block; margin-left: auto; margin-right: auto;" src="https://lh3.googleusercontent.com/proxy/B-FEGkHYSEd3RZkqqCuXJPZVI7SgSJ4nl5QxsSFHWTEJswxOSiDz2x0BofOv_oxNQJFHQvHp-2wfFQpVtihvUh8gt6v68Wbuh10KPl8ZnJja_4zHDu1XCQ" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Manoj Chelikam</h5>
            <p class="card-text"><em>Founder</em></p>
            <p class="card-text">Having worked for 7 years in IT Industry, Manoj founded RecruitCats. He has a keen eye for detail and works relentlessly until he gets his clients their dream job. You'll find him on Badminton court or playing Poker with his friends if he is not in his office.</p>
        </div>
    </div>
    <div class="card mb-3" style="background-color:#d3e0d8; padding:20px">
        <img style="width: 180px; height:200px; display: block; margin-left: auto; margin-right: auto;" src="https://www.johnmeyerwebdev.com/images/Me-Avatar-Maker.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ben Affleck</h5>
            <p class="card-text"><em>Head Operations</em></p>
            <p class="card-text">Ben has 20+ years of experience in Operations. Prior joining us he worked for McKinsey & Company as a Senior Consultant and Boston Consulting Group as a Manager. He likes to watch Cricket and he can talk for hours about Man United FC.</p>
        </div>
    </div>

    <div class="card mb-3" style="background-color:#d3e0d8; padding:20px">
        <img style="width: 180px; height:200px; display: block; margin-left: auto; margin-right: auto;" src="https://happyfacesparty.com/wp-content/uploads/2019/06/avataaars-Brittany.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gal Gadot</h5>
            <p class="card-text"><em>Head Marketing</em></p>
            <p class="card-text">Gal joined RecruitCats 3 years ago and has been the driving force for the increase of our Collaborators list. She Head's the marketing department at RecruitCats and has been doing a phenomenol job with it. She is an avid reader of mystery novels and Dan Brown is her favourite.</p>
        </div>
    </div>
</div>
