@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dice Roller Game</h1>
    <p>To play click on the DiceRoller tab on the home</p>
</div>
